[core]
	quotepath = false
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore
	editor = code --wait
[color]
	ui = true
[include]
	path = ~/dotfiles/common/.gitconfig-alias
[includeIf "gitdir:**/*"]
	path = ~/dotfiles/common/.gitconfig-personal
[includeIf "gitdir:**/pepperdata/"]
	path = ~/dotfiles/common/.gitconfig-work
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[log]
	decorate = auto
[gpg]
	program = gpg
[commit]
	gpgsign = true
[receive]
	certNonceSeed = true
[init]
	defaultBranch = main
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pager]
	log = less --lesskey-file=/Users/joshua/programming/enhanced-git-log/build/.less-git-log --chop-long-lines --ignore-case --LONG-PROMPT --LINE-NUMBERS --RAW-CONTROL-CHARS --status-column --tilde
